<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="__STATIC__/mobile/default/css/layout.css?v=2"/>
    <link rel="icon" type="image/png" href="__STATIC__/favicon.ico"/>
    <script src="__STATIC__/js/jquery/jquery/2.1.4/jquery.min.js"></script>
    <script src="__STATIC__/mobile/default/js/page.js?v=1"></script>
    <title>{$title}  - {$setting.shop_title}</title>
      {eq name="is_wx" value="1"}
      <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
      {/eq}
      <script>
        document.addEventListener('plusready', function() {
          var webview = plus.webview.currentWebview();
          plus.key.addEventListener('backbutton', function() {
              webview.canBack(function(e) {
                  if(e.canBack) {
                      webview.back();             
                  } else {
                      //webview.close(); //hide,quit
                      //plus.runtime.quit();
                      //首页返回键处理
                      //处理逻辑：1秒内，连续两次按返回键，则退出应用；
                      var first = null;
                      plus.key.addEventListener('backbutton', function() {
                          //首次按键，提示‘再按一次退出应用’
                          if (!first) {
                              first = new Date().getTime();
                              console.log('再按一次退出应用');
                              setTimeout(function() {
                                  first = null;
                              }, 1000);
                          } else {
                              if (new Date().getTime() - first < 1500) {
                                  plus.runtime.quit();
                              }
                          }
                      }, false);
                  }
              })
          });
      });
      </script>
    {block name="head"}{/block}

</head>
<body {block name="body"}{/block}>
  <div class="page {block name='pageType'}{/block}">
  {empty name="not_top_nav"}
  		<div class="page-hd">
            <div class="header base-header bor-1px-b">
                <div class="header-left">
                    <a href="javascript:history.go(-1)" class="left-arrow"></a>
                </div>
                <div class="header-title">{$title}</div>
                <div class="header-right">
                    <!-- <a href=""></a> -->
                </div>
            </div>
        </div>
   {/empty}
   {block name="main"}{/block}
  </div>

<script src="__STATIC__/js/art-template.js"></script>
<script src="__STATIC__/mobile/default/js/lib/fastclick.js"></script>
<script src="__STATIC__/js/jquery/lazyload/jquery.lazyload.js"></script>
<script>
    $(function() {
        FastClick.attach(document.body);
		$("img.lazy").lazyload({effect:"fadeIn",event:"scroll",container:$(".page-bd")});
    });
</script>
{block name="footer"}{/block}
  <div class="alertBox">
      <div class="alertBG"></div>
      <div class="alert">
          <div class="text fs30 color_3 bor_b">

          </div>
          <!-- 单按钮 -->
          <div class="button fs32 fw_b color_r">
              知道了
          </div>
          <!-- 双按钮 -->
          <div class="buttonBox fs32 fw_b">
              <span class="color_9 bor_r cancel">取消</span>
              <span class="color_r confirm">确定</span>
          </div>
      </div>
  </div>
  <script type="text/javascript">
      var is_xcx = {:isXcxWebView()};
      $(document).on('click', 'a', function () {
          var href = $(this).attr('href');
          if (href.indexOf('/pages') != -1) {
              if (is_xcx == 1) {
                  wx.miniProgram.navigateTo({
                      url: href
                  })
                  return false;
              } else {
                  return false;
              }
          }
      })
  </script>
  {eq name="is_wx" value="1"}
  {include file="layouts@weixin" /}
  {/eq}
  </body>
</html>